@inherits LayoutComponentBase
@inject NavigationManager navManager

<PageTitle>Dhiogo Page</PageTitle>


<!-- BEGIN | Header -->
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
				    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					    <span class="sr-only">Toggle navigation</span>
					    <div id="nav-icon1">
							<span></span>
							<span></span>
							<span></span>
						</div>
				    </div>
				    <a href="index_light.html"><img class="logo" src="images/logo1.png" alt="" width="119" height="58"></a>
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li>
							<a class="btn btn-default dropdown-toggle lv1" @onclick="@(() => NavPage(""))">   <i class="fa fa-home" aria-hidden="true"></i>	Home </a>

						</li>
						<li>
							<a class="btn btn-default dropdown-toggle lv1"  @onclick="@(() => NavPage("movielist"))">   <i class="fa fa-list-ul" aria-hidden="true"></i>	Movie List </a>
						</li>
						<li>
							<a class="btn btn-default dropdown-toggle lv1"  @onclick="@(() => NavPage("movie"))">   <i class="fa fa-random" aria-hidden="true"></i>	Random Movie </a>
						</li>
					</ul>
				
				</div>
			<!-- /.navbar-collapse -->
	    </nav>
	    
	</div>
</header>
<!-- END | Header -->

<div class="page">  
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

	    public void NavPage(string page)
        {
            navManager.NavigateTo("/" + page);
        }
}